{% extends 'templates/quasar_web_server/base_templates/math_base.html' %}
{% block title %} Quasar Source {% endblock %}

{% load staticfiles %}
{% block additional_css_to_load %}{% endblock %}

{% block additional_head_statements %}{% endblock %}
{% block body %}
<div>
    <h3>Chapter 1</h3>
    <p>By means of a <b>window manager</b>, the user could create, position, and resize rectangular screen areas, called <b>windows</b>, that acted as virtual raphics terminals, each running an application.</p><br>
    <p>Computer graphics concerns the pictorial <b>synthesis</b> of real or imaginary objects from their computer-based models, whereas the related field of <b>image processing</b> also called <b>picture processing</b> treats the converse process: the <i>analysis</i> of scenes, or the <b>reconstruction</b> of models of 2D or 3D objects from their pictures.</p><br>
    <p>Image processing has the subareas <b>image enhancement, pattern detection and recognition, </b> and <b>scene analysis and computer vision</b>.</p><br>
    <p><b>Motion Dynamics : </b>objects can be moved and tumbled with respect to a stationary observer.</p><br>
    <p><b>Update Dynamics : </b>the actual change of the shape, color, or other properties of an airplane objects being viewed.</p><br>
    <h4>1.3 Representative uses of computer graphics</h4>
    <li>
        <ul>User interfaces</ul>
        <ul>(Interactive) plotting in business, science, and technology</ul>
        <ul>Office automation and electronic publishing</ul>
        <ul>Computer-aided drafting and design</ul>
        <ul>Simulation and animation for scientific visualization and entertainment</ul>
        <ul>Art and commerce</ul>
        <ul>Process control</ul>
        <ul>Cartography</ul>
    </li>
    <h4>Classification of Applications</h4>
    <p>First classification is by type (dimensionality) of the object to be represented and the kind of picture produced.</p><br>
    <p>Second classification is <i>type of interaction</i> which determines the user's degree of control over the object and its image.</p><br>
    <li>
        <ul>offline plotting</ul>
        <ul>interactive plotting</ul>
        <ul>predefining or calculating the object and flying around it in real time</ul>
        <ul>interactive designing</ul>
    </li>
    <p>Third classification is by the role of the picture (degree to which the picture is an end in itself or is merely a means to an end).</p><br>
    <p>Final classification arises from the logical and temporal relationship between objects and their pictures</p><br>
    <h4>1.5 Development of Hardware and Software for Computer Graphics</h4>
    <p>The display devices developed in the mid-sixties and in common use until the mid-eighties are called <b>vector, stroke, line drawing, or calligraphic displays</b>.</p><br>
    <p>Vector is used as a synonym for line.</p><br>
    <p>Stroke is a short line.</p><br>
    <p>Characters are made of sequences of such strokes.</p><br>
    <p>The essence of a vector system is that the beam is deflected from endpoint to endpoint, as dictated by the arbitrary order of the display commands; this technique is called <b>random scan</b>.</p><br>
    <p>Raster displays store the display primitives (such as lines, characters, and solidly shaded or patterned areas) in a refresh buffer in terms of their component pixels.</p><br>
</div>
<!--
<div id = "math_formulas">
    <p>`x = (-b +- sqrt(b^2-4ac))/(2a)`</p>
</div>
-->
{% endblock %}

{% load staticfiles %}
{% block additional_js_to_load %}{% endblock %}

