{% extends 'templates/quasar_web_server/base_templates/base.html' %}
{% block title %} Quasar Source {% endblock %}

{% load staticfiles %}
{% block additional_css_to_load %}
<link rel="stylesheet" href="{% static 'css/custom/base.css' %}">
{% endblock %}

{% block additional_head_statements %}
<!-- Pretty math printing. -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.2/MathJax.js?config=TeX-MML-AM_HTMLorMML-full"></script>
{% endblock %}

{% block body %}
<div id="data_display">
    <p id="x_coordinate"></p><br>
    <p id="y_coordinate"></p><br>
    <p id="z_coordinate"></p><br>
</div>


<div class="container">
   <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="panel panel-login">
        <div class="panel-body">
          <div class="row">
            <div class="col-lg-12">
              <form id="login-form" action="#" method="post" role="form" style="display: block;">
                <h2>LOGIN</h2>
                  <div class="form-group">
                    <input type="text" name="username" id="username" tabindex="1" class="form-control" placeholder="Username" value="">
                  </div>
                  <div class="form-group">
                    <input type="password" name="password" id="password" tabindex="2" class="form-control" placeholder="Password">
                  </div>
                  <div class="col-xs-6 form-group pull-left checkbox">
                    <input id="checkbox1" type="checkbox" name="remember">
                    <label for="checkbox1">Remember Me</label>
                  </div>
                  <div class="col-xs-6 form-group pull-right">
                        <input type="submit" name="login-submit" id="login-submit" tabindex="4" class="form-control btn btn-login" value="Log In">
                  </div>
              </form>
              <form id="register-form" action="#" method="post" role="form" style="display: none;">
                <h2>REGISTER</h2>
                  <div class="form-group">
                    <input type="text" name="username" id="username" tabindex="1" class="form-control" placeholder="Username" value="">
                  </div>
                  <div class="form-group">
                    <input type="email" name="email" id="email" tabindex="1" class="form-control" placeholder="Email Address" value="">
                  </div>
                  <div class="form-group">
                    <input type="password" name="password" id="password" tabindex="2" class="form-control" placeholder="Password">
                  </div>
                  <div class="form-group">
                    <input type="password" name="confirm-password" id="confirm-password" tabindex="2" class="form-control" placeholder="Confirm Password">
                  </div>
                  <div class="form-group">
                    <div class="row">
                      <div class="col-sm-6 col-sm-offset-3">
                        <input type="submit" name="register-submit" id="register-submit" tabindex="4" class="form-control btn btn-register" value="Register Now">
                      </div>
                    </div>
                  </div>
              </form>
            </div>
          </div>
        </div>
        <div class="panel-heading">
          <div class="row">
            <div class="col-xs-6 tabs">
              <a href="#" class="active" id="login-form-link"><div class="login">LOGIN</div></a>
            </div>
            <div class="col-xs-6 tabs">
              <a href="#" id="register-form-link"><div class="register">REGISTER</div></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<footer>
    <div class="container">
        <div class="col-md-10 col-md-offset-1 text-center">
            <h6 style="font-size:14px;font-weight:100;color: #fff;">Coded with <i class="fa fa-heart red" style="color: #BC0213;"></i> by <a href="http://hashif.com" style="color: #fff;" target="_blank">Hashif</a></h6>
        </div>
    </div>
</footer>

{% endblock %}

{% load staticfiles %}
{% block additional_js_to_load %}
<script src="{% static 'js/third_party/three.min.js' %}"></script>


<script src="{% static 'js/third_party/stats.min.js' %}"></script>
<script src="{% static 'js/third_party/Detector.js' %}"></script>

<script src="{% static 'js/third_party/CSS3DRenderer.js' %}"></script>

<!-- Shaders. -->
<script src="{% static 'js/third_party/EffectComposer.js' %}"></script>
<script src="{% static 'js/third_party/CopyShader.js' %}"></script>
<script src="{% static 'js/third_party/RenderPass.js' %}"></script>
<script src="{% static 'js/third_party/DigitalGlitch.js' %}"></script>
<script src="{% static 'js/third_party/GlitchPass.js' %}"></script>
<script src="{% static 'js/third_party/ShaderPass.js' %}"></script>

<!-- Networking. -->
<script src="{% static 'js/custom/web_sockets/web_socket_client.js' %}"></script>
<script src="{% static 'js/custom/web_sockets/world.js' %}"></script>

<script src="{% static 'js/custom/renderer_api.js' %}"></script>
<script src="{% static 'js/custom/shader_api.js' %}"></script>
<script src="{% static 'js/custom/fps_controls.js' %}"></script>
<script src="{% static 'js/custom/pointer_lock_api.js' %}"></script>
<script src="{% static 'js/custom/stats_api.js' %}"></script>
<script src="{% static 'js/custom/data_display.js' %}"></script>
<script src="{% static 'js/custom/html_colors.js' %}"></script>
<script src="{% static 'js/custom/hello_world.js' %}"></script>

{% endblock %}

