{% extends 'templates/quasar_web_server/base_templates/base.html' %}
{% block title %} Quasar Source {% endblock %}

{% load staticfiles %}
{% block additional_css_to_load %}
<link rel="stylesheet" href="{% static 'css/custom/base.css' %}">
{% endblock %}

{% block additional_head_statements %}
<!-- Pretty math printing. -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.2/MathJax.js?config=TeX-MML-AM_HTMLorMML-full"></script>
{% endblock %}

{% block body %}
<div id="data_display">
    <p id="x_coordinate"></p><br>
    <p id="y_coordinate"></p><br>
    <p id="z_coordinate"></p><br>
    <p id="pitch"></p><br>
    <p id="yaw"></p><br>
</div>
{% endblock %}

{% load staticfiles %}
{% block additional_js_to_load %}
<script src="{% static 'js/third_party/three.min.js' %}"></script>


<script src="{% static 'js/third_party/stats.min.js' %}"></script>
<script src="{% static 'js/third_party/Detector.js' %}"></script>

<script src="{% static 'js/third_party/CSS3DRenderer.js' %}"></script>

<!-- Shaders. -->
<script src="{% static 'js/third_party/EffectComposer.js' %}"></script>
<script src="{% static 'js/third_party/CopyShader.js' %}"></script>
<script src="{% static 'js/third_party/RenderPass.js' %}"></script>
<script src="{% static 'js/third_party/DigitalGlitch.js' %}"></script>
<script src="{% static 'js/third_party/GlitchPass.js' %}"></script>
<script src="{% static 'js/third_party/ShaderPass.js' %}"></script>

<!-- Networking. -->
<script src="{% static 'js/custom/web_sockets/web_socket_client.js' %}"></script>
<script src="{% static 'js/custom/web_sockets/world.js' %}"></script>

<script src="{% static 'js/third_party/dynamic_texture/threex.dynamictexture.js' %}"></script>
<script src="{% static 'js/third_party/dynamic_texture/threex.dynamictext2dobject.js' %}"></script>

<script src="{% static 'js/custom/renderer_api.js' %}"></script>
<script src="{% static 'js/custom/shader_api.js' %}"></script>
<script src="{% static 'js/custom/controls/fps_controls.js' %}"></script>
<script src="{% static 'js/custom/controls/pointer_lock_api.js' %}"></script>
<script src="{% static 'js/custom/gui/stats_api.js' %}"></script>
<script src="{% static 'js/custom/gui/data_display.js' %}"></script>
<script src="{% static 'js/custom/html_colors.js' %}"></script>
<script src="{% static 'js/custom/models/plane_api.js' %}"></script>
<script src="{% static 'js/custom/hello_world.js' %}"></script>

{% endblock %}

