{% extends 'templates/quasar_web_server/base_templates/math_base.html' %}
{% block title %} Quasar Source {% endblock %}

{% load staticfiles %}
{% block additional_css_to_load %}{% endblock %}

{% block additional_head_statements %}{% endblock %}
{% block body %}
<div>
    <h3>1.1 Systems of Linear Equations</h3>
    <p>A <b>linear equation</b> is an equation that can be written in the form `a_1x_1+a_2x_2+...a_nx_n=b`</p>
    <p>A <b>system of linear equations </b>(or a <b>linear system</b>) is a collection of one or more linear equations involving the same variables.</p>
    <p>The set of all possible solutions is called the <b>solution set</b> of the linear system.</p>
    <p>Two linear systems are <b>equivalent</b> if they have the same solution set.</p>
    <p>A system of linear equations has :</p>
    <ul>
        <li>1. no solution</li>
        <li>2. exactly one solution</li>
        <li>3. infinitely many solutions</li>
    </ul>
    <p></p><br>
    <p></p><br>
    <p></p><br>
</div>
<!--
<div id = "math_formulas">
    <p>`x = (-b +- sqrt(b^2-4ac))/(2a)`</p>
</div>
-->
{% endblock %}

{% load staticfiles %}
{% block additional_js_to_load %}{% endblock %}

