<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IOTA Miner</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'css/custom/miner.css' %}">
</head>
<body>
    <div class="coinhive-miner"
        style="width: 256px; height: 310px"
        data-key="75kJsiHzx8NUYdmTl41gB99g0uRZNzLL">
        <em>Loading...</em>
    </div>
</body>
<script src="https://authedmine.com/lib/simple-ui.min.js" async></script>
</html>

