{% extends 'templates/quasar_web_server/base_templates/base.html' %}
{% block title %} Quasar Source {% endblock %}

{% load staticfiles %}
{% block additional_css_to_load %}
<link rel="stylesheet" href="{% static 'css/custom/base.css' %}">
{% endblock %}

{% block additional_head_statements %}
<!-- Pretty math printing. -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.2/MathJax.js?config=TeX-MML-AM_HTMLorMML-full"></script>
{% endblock %}

{% block body %}
<h1>Page is Loading...</h1>
<div id="data_display">
    <p id="x_coordinate"></p>
    <p id="y_coordinate"></p>
    <p id="z_coordinate"></p>
    <br>
    <p id="x_direction"></p>
    <p id="y_direction"></p>
    <p id="z_direction"></p>
</div>
{% endblock %}

{% load staticfiles %}
{% block additional_js_to_load %}
<script src="{% static 'js/third_party/three.min.js' %}"></script>


<script src="{% static 'js/third_party/stats.min.js' %}"></script>
<script src="{% static 'js/third_party/Detector.js' %}"></script>

<script src="{% static 'js/third_party/javascript_cookies/js.cookie.js' %}"></script>

<!--
<script src="{% static 'js/third_party/CSS3DRenderer.js' %}"></script>
-->

<!-- Font files. -->
<script src="{% static 'js/custom/models/helvetiker_regular.typeface.json.js' %}"></script>

<!-- Shaders. -->
<script src="{% static 'js/third_party/EffectComposer.js' %}"></script>
<script src="{% static 'js/third_party/CopyShader.js' %}"></script>
<script src="{% static 'js/third_party/RenderPass.js' %}"></script>
<script src="{% static 'js/third_party/DigitalGlitch.js' %}"></script>
<script src="{% static 'js/third_party/GlitchPass.js' %}"></script>
<script src="{% static 'js/third_party/ShaderPass.js' %}"></script>


<script src="{% static 'js/third_party/dynamic_texture/threex.dynamictexture.js' %}"></script>
<script src="{% static 'js/third_party/dynamic_texture/threex.dynamictext2dobject.js' %}"></script>

<script src="{% static 'js/third_party/jquery/jquery-3.2.1.min.js' %}"></script>

<!-- First custom file is global declarations. -->
<script src="{% static 'js/custom/global/globals.js' %}"></script>
<script src="{% static 'js/custom/global/time_abstraction.js' %}"></script>

<!-- Networking. -->
<script src="{% static 'js/custom/web_sockets/web_socket_client.js' %}"></script>
<script src="{% static 'js/custom/web_sockets/world.js' %}"></script>

<!-- Core files. -->
<script src="{% static 'js/custom/core/renderer_api.js' %}"></script>
<script src="{% static 'js/custom/core/shader_api.js' %}"></script>
<script src="{% static 'js/custom/core/ajax_api.js' %}"></script>
<script src="{% static 'js/custom/core/smooth_step.js' %}"></script>
<script src="{% static 'js/custom/core/audio_api.js' %}"></script>

<script src="{% static 'js/custom/entities/entity.js' %}"></script>

<script src="{% static 'js/custom/controls/fps_controls.js' %}"></script>
<script src="{% static 'js/custom/controls/pointer_lock_api.js' %}"></script>
<script src="{% static 'js/custom/gui/stats_api.js' %}"></script>
<script src="{% static 'js/custom/gui/data_display.js' %}"></script>
<script src="{% static 'js/custom/quasar_world/player.js' %}"></script>

<!-- Models. -->
<script src="{% static 'js/custom/models/plane_api.js' %}"></script>
<script src="{% static 'js/custom/models/floating_2d_text.js' %}"></script>
<script src="{% static 'js/custom/models/floating_3d_text.js' %}"></script>
<script src="{% static 'js/custom/models/3d_button.js' %}"></script>
<script src="{% static 'js/custom/models/checkbox.js' %}"></script>
<script src="{% static 'js/custom/models/entity_editor.js' %}"></script>
<script src="{% static 'js/custom/models/interactive_wall.js' %}"></script>

<!-- The worlds. -->
<script src="{% static 'js/custom/quasar_world/world_manager.js' %}"></script>
<script src="{% static 'js/custom/quasar_world/login_world.js' %}"></script>
<script src="{% static 'js/custom/quasar_world/home_world.js' %}"></script>

<script src="{% static 'js/custom/quasar_dev.js' %}"></script>

{% endblock %}

