<link rel="stylesheet" href="../../static/css/custom/base.css">{% extends 'templates/quasar_web_server/base_templates/base.html' %}
{% block title %} Quasar Source {% endblock %}

{% load staticfiles %}
{% block additional_css_to_load %}
<link rel="stylesheet" href="{% static 'css/custom/base.css' %}">
{% endblock %}

{% block body %}

<div id="dark_background">
    <button class="see_through_button_for_data" id="display_all_commands">All Commands</button>
    <button class="see_through_button_for_data" id="display_database_button">Database Data</button>
    <button class="see_through_button_for_data" id="display_server_cache">Server Cache</button>
    <button class="see_through_button_for_data" id="display_server_logs">Server Logs</button>
    <pre id="custom_text_area" readonly>
    </pre>
</div>


{% endblock %}

{% load staticfiles %}
{% block additional_js_to_load %}

<!-- Globals. -->
<script src="{% static 'js/custom/global/globals.js' %}"></script>

<!-- Data. -->
<script src="{% static 'js/custom/data/quasar_data.js' %}"></script>

{% endblock %}

