{% extends 'templates/quasar_web_server/base_templates/base.html' %}
{% block title %} Quasar Source {% endblock %}

{% load staticfiles %}
{% block additional_css_to_load %}
<link rel="stylesheet" href="{% static 'css/custom/base.css' %}">
{% endblock %}

{% block body %}
<div id="data_display">
    <p id="x_coordinate"></p>
    <p id="y_coordinate"></p>
    <p id="z_coordinate"></p>
    <br>
    <p id="x_direction"></p>
    <p id="y_direction"></p>
    <p id="z_direction"></p>
</div>

<div id="background_coloring">
</div>

<!-- Typing Interface -->
<div id="gui_typing" style="display: none">
    <p class="gui_typing_offset smooth_font" id="gui_typing_input_field"></p>
</div>

<!-- TODO : Do this dynamically later on -->
<div class="smooth_font" id="gui_console_logs" style="display: none">
    <p id="row_0"></p>
    <p id="row_1"></p>
    <p id="row_2"></p>
    <p id="row_3"></p>
    <p id="row_4"></p>
    <p id="row_5"></p>
    <p id="row_6"></p>
    <p id="row_7"></p>
    <p id="row_8"></p>
    <p id="row_9"></p>
    <p id="row_10"></p>
    <p id="row_11"></p>
    <p id="row_12"></p>
    <p id="row_13"></p>
    <p id="row_14"></p>
    <p id="row_15"></p>
    <p id="row_16"></p>
    <p id="row_17"></p>
    <p id="row_18"></p>
    <p id="row_19"></p>
    <p id="row_20"></p>
    <p id="row_21"></p>
    <p id="row_22"></p>
    <p id="row_23"></p>
    <p id="row_24"></p>
    <p id="row_25"></p>
    <p id="row_26"></p>
    <p id="row_27"></p>
    <p id="row_28"></p>
    <p id="row_29"></p>
    <p id="row_30"></p>
    <p id="row_31"></p>
    <p id="row_32"></p>
    <p id="row_33"></p>
    <p id="row_34"></p>
    <p id="row_35"></p>
    <p id="row_36"></p>
    <p id="row_37"></p>
    <p id="row_38"></p>
    <p id="row_39"></p>
    <p id="row_40"></p>
    <p id="row_41"></p>
    <p id="row_42"></p>
    <p id="row_43"></p>
    <p id="row_44"></p>
    <p id="row_45"></p>
    <p id="row_46"></p>
    <p id="row_47"></p>
    <p id="row_48"></p>
    <p id="row_49"></p>
    <p id="row_50"></p>
    <p id="row_51"></p>
    <p id="row_52"></p>
    <p id="row_53"></p>
    <p id="row_54"></p>
    <p id="row_55"></p>
    <p id="row_56"></p>
    <p id="row_57"></p>
    <p id="row_58"></p>
    <p id="row_59"></p>
    <p id="row_60"></p>
    <p id="row_61"></p>
    <p id="row_62"></p>
    <p id="row_63"></p>
    <p id="row_64"></p>
    <p id="row_65"></p>
    <p id="row_66"></p>
    <p id="row_67"></p>
    <p id="row_68"></p>
    <p id="row_69"></p>
</div>

<!-- Pause Menu -->
<div id="pause_menu" class="center_position">
    <br>
    <h1 class="center_align" id="menu_title">Loading Quasar...</h1>
    <h5 class="center_align" id="menu_header" style="display: none">double click anywhere to resume</h5>
    <button class="see_through_button" id="button_resume" style="display: none">Resume</button>
    <button class="see_through_button" id="button_settings" style="display: none">Settings</button>
    <button class="see_through_button" id="button_help_controls" style="display: none">Help / Controls</button>
    <button class="see_through_button" id="button_log_out" style="display: none">Log Out</button>
</div>

{% endblock %}

{% load staticfiles %}
{% block additional_js_to_load %}

<!-- 3rd party libraries. -->
<script src="{% static 'js/third_party/three.min.js' %}"></script>
<script src="{% static 'js/third_party/stats.min.js' %}"></script>
<script src="{% static 'js/third_party/Detector.js' %}"></script>
<script src="{% static 'js/third_party/javascript_cookies/js.cookie.js' %}"></script>
<script src="{% static 'js/third_party/hex_grid/hex-grid.min.js' %}"></script>

<!--
<script src="{% static 'js/third_party/CSS3DRenderer.js' %}"></script>
-->

<!-- Font files. -->
<script src="{% static 'js/custom/models/helvetiker_regular.typeface.json.js' %}"></script>

<!-- Shaders. -->
<script src="{% static 'js/third_party/EffectComposer.js' %}"></script>
<script src="{% static 'js/third_party/CopyShader.js' %}"></script>
<script src="{% static 'js/third_party/RenderPass.js' %}"></script>
<script src="{% static 'js/third_party/DigitalGlitch.js' %}"></script>
<script src="{% static 'js/third_party/GlitchPass.js' %}"></script>
<script src="{% static 'js/third_party/ShaderPass.js' %}"></script>

<script src="{% static 'js/third_party/dynamic_texture/threex.dynamictexture.js' %}"></script>
<script src="{% static 'js/third_party/dynamic_texture/threex.dynamictext2dobject.js' %}"></script>

<script src="{% static 'js/third_party/jquery/jquery-3.2.1.min.js' %}"></script>

<!-- First custom file is global declarations. -->
<script src="{% static 'js/custom/global/globals.js' %}"></script>
<script src="{% static 'js/custom/global/time_abstraction.js' %}"></script>

<!-- Networking. -->
<script src="{% static 'js/custom/web_sockets/web_socket_client.js' %}"></script>

<!-- Core files. -->
<script src="{% static 'js/custom/core/renderer_api.js' %}"></script>
<script src="{% static 'js/custom/core/shader_api.js' %}"></script>
<script src="{% static 'js/custom/core/ajax_api.js' %}"></script>
<script src="{% static 'js/custom/core/smooth_step.js' %}"></script>
<script src="{% static 'js/custom/core/audio_api.js' %}"></script>
<script src="{% static 'js/custom/core/input_text_processor.js' %}"></script>

<!-- Entities. -->
<script src="{% static 'js/custom/entities/entity.js' %}"></script>
<script src="{% static 'js/custom/entities/entity_manager.js' %}"></script>

<!-- Controls. -->
<script src="{% static 'js/custom/controls/fps_controls.js' %}"></script>
<script src="{% static 'js/custom/controls/pointer_lock_api.js' %}"></script>

<!-- 2D GUI Overlay -->
<script src="{% static 'js/custom/gui/stats_api.js' %}"></script>
<script src="{% static 'js/custom/gui/data_display.js' %}"></script>
<script src="{% static 'js/custom/gui/paused_menu.js' %}"></script>
<script src="{% static 'js/custom/gui/typing_interface.js' %}"></script>
<script src="{% static 'js/custom/gui/dom_element.js' %}"></script>

<!-- Player defined ahead of time. -->
<script src="{% static 'js/custom/quasar_world/player.js' %}"></script>

<!-- Models. -->
<script src="{% static 'js/custom/models/inheritables/interactive.js' %}"></script>
<script src="{% static 'js/custom/models/inheritables/visibility.js' %}"></script>
<script src="{% static 'js/custom/models/plane_api.js' %}"></script>
<script src="{% static 'js/custom/models/floating_wall.js' %}"></script>
<script src="{% static 'js/custom/models/floating_2d_text.js' %}"></script>
<script src="{% static 'js/custom/models/floating_3d_text.js' %}"></script>
<script src="{% static 'js/custom/models/floating_slider.js' %}"></script>
<script src="{% static 'js/custom/models/checkbox.js' %}"></script>
<script src="{% static 'js/custom/models/create_entity.js' %}"></script>
<script src="{% static 'js/custom/models/entity_wall.js' %}"></script>

<!-- The worlds. -->
<script src="{% static 'js/custom/quasar_world/world_base.js' %}"></script>
<script src="{% static 'js/custom/quasar_world/world_manager.js' %}"></script>
<script src="{% static 'js/custom/quasar_world/login_world.js' %}"></script>
<script src="{% static 'js/custom/quasar_world/home_world.js' %}"></script>
<script src="{% static 'js/custom/quasar_world/settings_world.js' %}"></script>

<!-- TODO : DEV - QA - PROD -->
<script src="{% static 'js/custom/quasar_dev.js' %}"></script>

{% endblock %}

