* {
    margin: 0;
    padding: 0;

    /* Testing something.*/
    font-smooth: never;
    -webkit-font-smoothing : none;

    /* Remove text highlight. */
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

body {
    margin: 0;
    overflow: hidden;
}

/*
canvas {
    width: 100%;
    height: 100%;
    z-index: 1;
}
*/

#data_display {
    background-color: transparent;
    color: #aae698;
    position: absolute;
    top: 55px;
    left: 0px;
    z-index: 10;
    font-size: 12px;
}

#math_formulas {
    background: rgba(131, 207, 255, 0.5);
    /*visibility: hidden;*/
    /*z-index: -1;*/
    color: #2fa3e5;
    /*font-size: 3em;
    padding: 2em;*/
}

.three-div{
    background: #BADA55;
    color: #E50000;
    font-family: Arial, Helvetica, Sans-serif;
    font-size: 2em;
    padding: 2em;
    width: 50px;
    height: 50px;
}

.center_position {
    font-smooth: always;
    -webkit-font-smoothing: subpixel-antialiased;

    position: absolute;
    width: 25vw;
    height: 50vh;
    z-index: 15;
    top: 50%;
    left: 50%;
    margin: -25vh 0 0 -12.5vw;
    background: rgba(1, 1, 1, 0.75);
    border: 2px solid rgba(255, 255, 255, 0.9);
    color: rgba(255, 255, 255, 0.9);
}

#background_coloring {
    background: rgba(1, 1, 1, 0.5);
    width: 100vw;
    height: 100vh;
    z-index: 14;
    position: absolute;
    top: 0;
    left: 0;
}

#no_background_coloring {
    background: rgba(1, 1, 1, 0.0);
    width: 100vw;
    height: 100vh;
    z-index: 14;
    position: absolute;
}

.center_align {
    font-smooth: always;
    -webkit-font-smoothing: subpixel-antialiased;

    text-align: center;
}

/* Buttons with transparent backgrounds. */
.see_through_button {
    font-smooth: always;
    -webkit-font-smoothing: subpixel-antialiased;

    text-align: center;

    color: rgba(255, 255, 255, 0.9);
    width: 80%;
    margin: 10% 0 0 10%;
    background: transparent no-repeat;
    border: 2px solid rgba(255, 255, 255, 0.9);
    cursor: pointer;
    overflow: hidden;
    outline: none;
}

.see_through_button:hover {
    background: rgba(255, 255, 255, 0.25);
}

.smooth_font {
    font-smooth: always;
    -webkit-font-smoothing: subpixel-antialiased;
}

/*   __       ___          __     __   __
    |  \  /\   |   /\     |  \ | /__` |__) |     /\  \ /
    |__/ /~~\  |  /~~\    |__/ | .__/ |    |___ /~~\  |  */
#dark_background {
    color: rgba(104, 223, 119, 0.9);
    background: rgba(20, 20, 20, 0.9);
    width: 100%;
    height: 100%;
}

.see_through_button_for_data {
    font-smooth: always;
    -webkit-font-smoothing: subpixel-antialiased;

    text-align: center;

    position: absolute;
    z-index: 15;

    color: rgba(255, 255, 255, 0.9);
    width: 20vw;
    left: 75vw;
    top: 1vh;
    display: block;
    padding: 2px 2px 2px 2px;
    background: transparent no-repeat;
    border: 2px solid rgba(255, 255, 255, 0.9);
    cursor: pointer;
    overflow: hidden;
    outline: none;
}

#custom_text_area {
    font-smooth: always;
    -webkit-font-smoothing: subpixel-antialiased;

    border: none;
    overflow: auto;
    outline: none;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

    position: absolute;
    top: 0;
    height: 100vh;
    left: 0;

    background: transparent no-repeat;
    color: rgba(104, 223, 119, 0.9);
    overflow-y: scroll;
    font-size: 12px;
    line-height:1.4;
    width:100%;
    resize: none;
}
/*__             ___  __   __     ___      __          __
 / _` |  | |    |__  /  \ |__)     |  \ / |__) | |\ | / _`
 \__> \__/ |    |    \__/ |  \     |   |  |    | | \| \__> */

#gui_typing {
    border: 2px solid rgba(0, 0, 0, 0.9);
    margin: 0;
    position: absolute;
    width: 96vw;
    height: 2vh;
    top: 96%;
    left: 2%;
    background: rgba(131, 207, 255, 0.25);
    z-index: 12;
    color: rgba(118, 255, 137, 0.9);
    font-size: 16px;
}

#gui_console_logs {
    /*border: 2px solid rgba(0, 0, 0, 0.9);*/
    position: absolute;
    top: 10%;
    left: 0;
    width: 100vw;
    height: 70vh;
    background: rgba(131, 207, 255, 0.0);
    z-index: 12;
    color: rgba(220, 255, 138, 0.9);

    font-family: Consolas, monaco, monospace;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 15.7143px;
}

.gui_typing_offset {
  position: absolute;
}

#canvas_id {
    left: 0;
}