/*__        __   __                __             ___  __
 / _` |    /  \ |__)  /\  |       |__) |  | |    |__  /__`
 \__> |___ \__/ |__) /~~\ |___    |  \ \__/ |___ |___ .__/ */
.h {
    user-select: none;
    touch-action: none;
    margin: 0;
    background-color: rgba(0, 0, 0, 0.59);
    overflow-y: hidden;
    overflow-x: hidden;
}

/*__
 / _` |  | |
 \__> \__/ | */
.i {
    position: fixed;
    z-index: 14;
}

.j {
    outline: 1px solid green;
}

/*                    __                       __
 |\/|  /\  | |\ |    /  `  /\  |\ | \  /  /\  /__`
 |  | /~~\ | | \|    \__, /~~\ | \|  \/  /~~\ .__/ */
#k {
    left: 0;
    display: block;
    z-index: 5;
}

/*__   ___      ___  ___  __      __        __   __   __   __
 /  ` |__  |\ |  |  |__  |__)    /  ` |  | |__) /__` /  \ |__)
 \__, |___ | \|  |  |___ |  \    \__, \__/ |  \ .__/ \__/ |  \ */
.e {
    position: fixed;
    z-index: 10;
    top: 50%;
    left: 50%;
}

#f {
    border-radius: 50%;
    width: 4px;
    height: 4px;
    background-color: #00ffd7;
    margin-top: -4px;
    margin-left: -4px;
}

#g {
    width: 32px;
    height: 32px;
    margin-top: -16px;
    margin-left: -16px;
}

/*__             __   ___  __      __  ___      ___  ___
 |__)  /\  |  | /__` |__  |  \    /__`  |   /\   |  |__
 |    /~~\ \__/ .__/ |___ |__/    .__/  |  /~~\  |  |___ */
#a {
    width: 100vw;
    height: 100vh;
    z-index: 14;
    position: absolute;
    background: rgba(1, 1, 1, 0.5);
}

#b {
    -webkit-font-smoothing: subpixel-antialiased;
    text-align: center;
    font-family: Arial, Helvetica, Sans-serif, serif;

    position: absolute;
    z-index: 15;
    top: 35%;
    left: 12.5%;
    width: 75%;
    background: rgba(1, 1, 1, 0.55);
    /*border: 2px solid rgba(255, 255, 255, 0.9);*/
    border: 2px solid rgba(101, 128, 84, 0.77);
    /*color: rgba(205, 255, 217, 0.45);*/
    color: rgb(205, 255, 217);
    display: table;
}

#c {
    font-size: 13vw;
    margin: 0;
}

#d {
    font-size: 3vw;
    margin: 0;
}