/*__        __   __                __             ___  __
 / _` |    /  \ |__)  /\  |       |__) |  | |    |__  /__`
 \__> |___ \__/ |__) /~~\ |___    |  \ \__/ |___ |___ .__/ */
.no_touch {
    user-select: none;
    touch-action: none;
    margin: 0;
}

/*__
 / _` |  | |
 \__> \__/ | */
.gui_canvas {
    position: fixed;
    z-index: 14;
}

.outline_green {
    outline: 1px solid green;
}

/*                    __                       __
 |\/|  /\  | |\ |    /  `  /\  |\ | \  /  /\  /__`
 |  | /~~\ | | \|    \__, /~~\ | \|  \/  /~~\ .__/ */
#canvas_main {
    left: 0;
    display: block;
    z-index: 5;
}

/*__   ___      ___  ___  __      __        __   __   __   __
 /  ` |__  |\ |  |  |__  |__)    /  ` |  | |__) /__` /  \ |__)
 \__, |___ | \|  |  |___ |  \    \__, \__/ |  \ .__/ \__/ |  \ */
.center_cursor {
    position: fixed;
    z-index: 10;
    top: 50%;
    left: 50%;
}

#cursor_default {
    border-radius: 50%;
    width: 4px;
    height: 4px;
    background-color: #00ffd7;
    margin-top: -4px;
    margin-left: -4px;
}

#cursor_icon {
    width: 32px;
    height: 32px;
    margin-top: -16px;
    margin-left: -16px;
}

/*__             __   ___  __      __  ___      ___  ___
 |__)  /\  |  | /__` |__  |  \    /__`  |   /\   |  |__
 |    /~~\ \__/ .__/ |___ |__/    .__/  |  /~~\  |  |___ */
#paused_background_filter {
    width: 100vw;
    height: 100vh;
    z-index: 14;
    position: absolute;
    background: rgba(1, 1, 1, 0.5);
}

#pause_display {
    -webkit-font-smoothing: subpixel-antialiased;
    text-align: center;
    font-family: Arial, Helvetica, Sans-serif, serif;

    position: absolute;
    z-index: 15;
    top: 35%;
    left: 12.5%;
    width: 75%;
    background: rgba(1, 1, 1, 0.55);
    border: 2px solid rgba(255, 255, 255, 0.9);
    color: rgba(205, 255, 217, 0.45);
    display: table;
}

#pause_display_title {
    font-size: 10vw;
    margin: 0;
}

#pause_display_sub_title {
    font-size: 4vw;
    margin: 0;
}