{% extends 'templates/quasar_web_server/base_templates/math_base.html' %}
{% block title %} Quasar Source {% endblock %}

{% load staticfiles %}
{% block additional_css_to_load %}{% endblock %}

{% block additional_head_statements %}{% endblock %}
{% block body %}
<div>
    <h1>1.1</h1>
    <p>If an equation involves the derivative of one variable with respect to another, then the former is called a <bold>dependent variable</bold> and the latter an <bold>independent variable</bold>.
    Thus, in the equation `(d^2x)/(dt^2)+a(dx/dt)+kx=0`, t is the independent variable and x is the dependent variable.</p>
</div>
<!--
<div id = "math_formulas">
    <p>`x = (-b +- sqrt(b^2-4ac))/(2a)`</p>
</div>
-->
{% endblock %}

{% load staticfiles %}
{% block additional_js_to_load %}{% endblock %}

