{% extends 'templates/quasar_web_server/base_templates/math_base.html' %}
{% block title %} Quasar Source {% endblock %}

{% load staticfiles %}
{% block additional_css_to_load %}{% endblock %}

{% block additional_head_statements %}{% endblock %}
{% block body %}
<div>
    <h1>1.1</h1>
    <p>If an equation involves the derivative of one variable with respect to another, then the former is called a <b>dependent variable</b> and the latter an <b>independent variable</b>.
    Thus, in the equation `(d^2x)/(dt^2)+a(dx/dt)+kx=0`, t is the independent variable and x is the dependent variable.</p><br>
    <p>The <b>order</b> is the order of the highest-order derivatives present in the equation.</p><br>
    <p>A <b>linear differential equation</b> is one in which the dependent variable y is and its derivatives appear in additive combinations of their powers.
    A differential equation is linear if it has the format `a_n(x)((d^ny)/(dx^n))+a_(n-1)(x)((d^(n-1)y)/(dxn^(n-1)))+...+a_1(x)dy/dx+a_0(x)y=F(x)`, where </p>
    <h1>1.2</h1>
    <p>TODO : formatting</p><br>
</div>
<!--
<div id = "math_formulas">
    <p>`x = (-b +- sqrt(b^2-4ac))/(2a)`</p>
</div>
-->
{% endblock %}

{% load staticfiles %}
{% block additional_js_to_load %}{% endblock %}

