{% extends 'templates/quasar_web_server/base_templates/base.html' %}
{% block title %} Quasar Source {% endblock %}

{% load staticfiles %}
{% block additional_css_to_load %}
<link rel="stylesheet" href="{% static 'css/custom/base.css' %}">
{% endblock %}

{% block body %}
<body>
    {% load staticfiles %}
    {% block additional_js_to_load %}
    <script src="{% static 'js/third_party/three.min.js' %}"></script>
    <script src="{% static 'js/third_party/stats.min.js' %}"></script>
    <script src="{% static 'js/third_party/PointerLockControls.js' %}"></script>
    <script src="{% static 'js/custom/pointer_lock.js' %}"></script>
    <script src="{% static 'js/custom/stats_api.js' %}"></script>
    <script src="{% static 'js/custom/hello_world.js' %}"></script>
    {% endblock %}
</body>
{% endblock %}
