{% extends 'templates/quasar_web_server/base_templates/math_base.html' %}
{% block title %} Quasar Source {% endblock %}

{% load staticfiles %}
{% block additional_css_to_load %}
<link rel="stylesheet" href="{% static 'css/custom/base.css' %}">
{% endblock %}

{% block additional_head_statements %}{% endblock %}
{% block body %}
<div>
    <p>Product/Sum Law : `log_bMN = log_bM + log_bN`</p><br>
    <p>Quotient/Difference Law : `log_bM/N = log_bM - log_bN`</p><br>
    <p>Power/Coefficient Law : `log_bM^p = plog_bM`</p><br>
    <p>Change of Base Formula : `log_bN = (log_aN)/(log_ab), for x > 0`</p><br>
    <p>Change of Base Formula : `b^x=c^(xlog_cb)`</p><br>
</div>
<!--
<div id = "math_formulas">
    <p>`x = (-b +- sqrt(b^2-4ac))/(2a)`</p>
</div>
-->
{% endblock %}

{% load staticfiles %}
{% block additional_js_to_load %}{% endblock %}

