{% extends 'templates/quasar_web_server/base_templates/math_base.html' %}
{% block title %} Quasar Source {% endblock %}

{% load staticfiles %}
{% block additional_css_to_load %}{% endblock %}

{% block additional_head_statements %}{% endblock %}
{% block body %}
<div>
    <p>11am - SH 215</p><br>
    <p>12:30 - TBH 180G</p><br>
    <p>2:00pm - LCD4</p><br>
    <p>4:00pm - SES 205B</p><br>
    <p>Get keys at 6:30 today!!!</p><br>
    <p>Put clicker in backpack</p><br>
    <p>Connect to bert.uic system</p><br>
</div>
<!--
<div id = "math_formulas">
    <p>`x = (-b +- sqrt(b^2-4ac))/(2a)`</p>
</div>
-->
{% endblock %}

{% load staticfiles %}
{% block additional_js_to_load %}{% endblock %}

