{% extends 'templates/quasar_web_server/base.html' %}
{% block title %} Quasar Source {% endblock %}

{% load staticfiles %}
{% block additional_css_to_load %}
<link rel="stylesheet" href="{% static 'css/custom/quasar.min.css' %}">
{% endblock %}

{% block body %}
<!-- Debugging information. -->
<div id="data_display" style="display: none">
    <p id="x_coordinate"></p>
    <p id="y_coordinate"></p>
    <p id="z_coordinate"></p>
    <br>
    <p id="x_direction"></p>
    <p id="y_direction"></p>
    <p id="z_direction"></p>
    <br>
    <p id="heap_size"></p>
    <p id="max_heap_size"></p>
</div>

<div id="background_coloring"></div>

<!-- Typing Interface -->
<div id="gui_typing" style="display: none">
    <p class="gui_typing_offset smooth_font" id="gui_typing_input_field"></p>
</div>

<div class="container" id="video_container"></div>

<div id="center_cursor"></div>

<div class="smooth_font" id="gui_console_logs"></div>

<!-- Pause Menu -->
<div id="pause_menu" class="center_position">
    <br>
    <h1 id="menu_title">Loading</h1>
    <h5 id="menu_header">initial javascript files...</h5>
</div>

<!-- Mobile keyboard. -->
<div id="mobile_keyboard_div" style="visibility: hidden;">
    <div class="mobile_keyboard_row">
        <button class="mobile_keyboard_button button_number" id="mobile_button_0">0</button>
        <button class="mobile_keyboard_button button_number" id="mobile_button_1">1</button>
        <button class="mobile_keyboard_button button_number" id="mobile_button_2">2</button>
        <button class="mobile_keyboard_button button_number" id="mobile_button_3">3</button>
        <button class="mobile_keyboard_button button_number" id="mobile_button_4">4</button>
        <button class="mobile_keyboard_button button_number" id="mobile_button_5">5</button>
        <button class="mobile_keyboard_button button_number" id="mobile_button_6">6</button>
        <button class="mobile_keyboard_button button_number" id="mobile_button_7">7</button>
        <button class="mobile_keyboard_button button_number" id="mobile_button_8">8</button>
        <button class="mobile_keyboard_button button_number" id="mobile_button_9">9</button>
    </div>
    <div class="mobile_keyboard_row">
        <button class="mobile_keyboard_button button_regular" id="mobile_button_q">q</button>
        <button class="mobile_keyboard_button button_regular" id="mobile_button_w">w</button>
        <button class="mobile_keyboard_button button_regular" id="mobile_button_e">e</button>
        <button class="mobile_keyboard_button button_regular" id="mobile_button_r">r</button>
        <button class="mobile_keyboard_button button_regular" id="mobile_button_t">t</button>
        <button class="mobile_keyboard_button button_regular" id="mobile_button_y">y</button>
        <button class="mobile_keyboard_button button_regular" id="mobile_button_u">u</button>
        <button class="mobile_keyboard_button button_regular" id="mobile_button_i">i</button>
        <button class="mobile_keyboard_button button_regular" id="mobile_button_o">o</button>
        <button class="mobile_keyboard_button button_regular" id="mobile_button_p">p</button>
    </div>
    <div class="mobile_keyboard_row">
        <button class="mobile_keyboard_button button_regular" id="mobile_button_a">a</button>
        <button class="mobile_keyboard_button button_regular" id="mobile_button_s">s</button>
        <button class="mobile_keyboard_button button_regular" id="mobile_button_d">d</button>
        <button class="mobile_keyboard_button button_regular" id="mobile_button_f">f</button>
        <button class="mobile_keyboard_button button_regular" id="mobile_button_g">g</button>
        <button class="mobile_keyboard_button button_regular" id="mobile_button_h">h</button>
        <button class="mobile_keyboard_button button_regular" id="mobile_button_j">j</button>
        <button class="mobile_keyboard_button button_regular" id="mobile_button_k">k</button>
        <button class="mobile_keyboard_button button_regular" id="mobile_button_l">l</button>
    </div>
    <div class="mobile_keyboard_row">
        <button class="mobile_keyboard_button button_regular" id="mobile_button_z">z</button>
        <button class="mobile_keyboard_button button_regular" id="mobile_button_x">x</button>
        <button class="mobile_keyboard_button button_regular" id="mobile_button_c">c</button>
        <button class="mobile_keyboard_button button_regular" id="mobile_button_v">v</button>
        <button class="mobile_keyboard_button button_regular" id="mobile_button_b">b</button>
        <button class="mobile_keyboard_button button_regular" id="mobile_button_n">n</button>
        <button class="mobile_keyboard_button button_regular" id="mobile_button_m">m</button>
    </div>
    <div class="mobile_keyboard_row">
        <button class="mobile_keyboard_button button_close" id="mobile_button_exit">close</button>
        <button class="mobile_keyboard_button button_regular" id="mobile_button_space">___S P A C E___</button>
        <button class="mobile_keyboard_button button_operation" id="mobile_button_del">D E L</button>
    </div>
</div>

{% endblock %}

{% load staticfiles %}
{% block additional_js_to_load %}

<!-- 3rd party libraries. -->
<script src="{% static 'js/third_party/three.min.js' %}"></script>
<script src="{% static 'js/third_party/stats.min.js' %}"></script>
<script src="{% static 'js/third_party/Detector.js' %}"></script>
<script src="{% static 'js/third_party/javascript_cookies/js.cookie.js' %}"></script>
<script src="{% static 'js/third_party/hex_grid/hex-grid.min.js' %}"></script>
<script src="{% static 'js/third_party/threex/THREEx.FullScreen.js' %}"></script>
<script src="{% static 'js/third_party/CSS3DRenderer.js' %}"></script>
<script src="{% static 'js/third_party/lines/THREE.MeshLine.js' %}"></script>

<!-- Shaders and Post Processors -->
<script src="{% static 'js/third_party/graphics/shaders/CopyShader.js' %}"></script>
<script src="{% static 'js/third_party/graphics/shaders/FXAAShader.js' %}"></script>
<script src="{% static 'js/third_party/graphics/shaders/FilmShader.js' %}"></script>
<script src="{% static 'js/third_party/graphics/post_processing/EffectComposer.js' %}"></script>
<script src="{% static 'js/third_party/graphics/post_processing/RenderPass.js' %}"></script>
<script src="{% static 'js/third_party/graphics/post_processing/ShaderPass.js' %}"></script>
<script src="{% static 'js/third_party/graphics/post_processing/OutlinePass.js' %}"></script>
<script src="{% static 'js/third_party/graphics/post_processing/FilmPass.js' %}"></script>

<!-- First custom file is global declarations. -->
<script src="{% static 'js/custom/global/globals.js' %}"></script>
<script src="{% static 'js/custom/global/math_utilities.js' %}"></script>

<!-- Web-sockets. -->
<script src="{% static 'js/custom/web_sockets/web_socket_manager.js' %}"></script>

<script src="{% static 'js/custom/web_sockets/multiplayer/multiplayer_manager.js' %}"></script>
<script src="{% static 'js/custom/web_sockets/multiplayer/chat_manager.js' %}"></script>

<script src="{% static 'js/custom/web_sockets/defined_responses/server_message.js' %}"></script>
<script src="{% static 'js/custom/web_sockets/defined_responses/response_chat_message.js' %}"></script>

<script src="{% static 'js/custom/web_sockets/defined_requests/server_request.js' %}"></script>
<script src="{% static 'js/custom/web_sockets/defined_requests/request_chat_message.js' %}"></script>
<script src="{% static 'js/custom/web_sockets/defined_requests/request_login.js' %}"></script>
<script src="{% static 'js/custom/web_sockets/defined_requests/request_logout.js' %}"></script>
<script src="{% static 'js/custom/web_sockets/defined_requests/request_create_account.js' %}"></script>
<script src="{% static 'js/custom/web_sockets/defined_requests/request_load_user_data.js' %}"></script>
<script src="{% static 'js/custom/web_sockets/defined_requests/request_save_data.js' %}"></script>
<script src="{% static 'js/custom/web_sockets/defined_requests/request_delete_entities.js' %}"></script>

<!-- Resources. -->
<script src="{% static 'js/custom/asset_management/file_drag_and_drop.js' %}"></script>
<script src="{% static 'js/custom/asset_management/asset_loaders/asset_group.js' %}"></script>
<script src="{% static 'js/custom/asset_management/asset_loaders/shader_group.js' %}"></script>
<script src="{% static 'js/custom/asset_management/asset_loaders/audio_group.js' %}"></script>
<script src="{% static 'js/custom/asset_management/asset_loaders/texture_group.js' %}"></script>
<script src="{% static 'js/custom/asset_management/asset_managers/audio_manager.js' %}"></script>
<script src="{% static 'js/custom/asset_management/asset_managers/shader_manager.js' %}"></script>
<script src="{% static 'js/custom/asset_management/asset_managers/texture_manager.js' %}"></script>
<script src="{% static 'js/custom/asset_management/loading_manager.js' %}"></script>
<script src="{% static 'js/custom/asset_management/fonts/helvetiker_regular.typeface.json.js' %}"></script>

<!-- Rendering. -->
<script src="{% static 'js/custom/rendering/renderer_manager.js' %}"></script>
<script src="{% static 'js/custom/rendering/outline_glow.js' %}"></script>
<script src="{% static 'js/custom/rendering/world_transition.js' %}"></script>

<!-- Client. -->
<script src="{% static 'js/custom/client/client.js' %}"></script>
<script src="{% static 'js/custom/client/debug/data_display.js' %}"></script>
<script src="{% static 'js/custom/client/debug/stats_api.js' %}"></script>
<script src="{% static 'js/custom/client/cookie_manager.js' %}"></script>
<script src="{% static 'js/custom/client/session_manager.js' %}"></script>
<script src="{% static 'js/custom/client/message_log/client_message_typing.js' %}"></script>
<script src="{% static 'js/custom/client/message_log/message.js' %}"></script>
<script src="{% static 'js/custom/client/message_log/message_log_manager.js' %}"></script>

<!-- Core. -->
<script src="{% static 'js/custom/core/custom_smooth_step.js' %}"></script>
<script src="{% static 'js/custom/core/input_text_processor.js' %}"></script>

<!-- Entities. -->
<script src="{% static 'js/custom/entities/abstract/schedule_viewable.js' %}"></script>
<script src="{% static 'js/custom/entities/abstract/entity.js' %}"></script>
<script src="{% static 'js/custom/entities/properties_and_types/entity_properties.js' %}"></script>
<script src="{% static 'js/custom/entities/entity_owner.js' %}"></script>
<script src="{% static 'js/custom/entities/entity_changes_listener.js' %}"></script>
<script src="{% static 'js/custom/entities/entity_changes_subscriber.js' %}"></script>
<script src="{% static 'js/custom/entities/entity_manager.js' %}"></script>

<!-- Controls. -->
<script src="{% static 'js/custom/controls/fps_controls.js' %}"></script>
<script src="{% static 'js/custom/controls/pointer_lock.js' %}"></script>
<script src="{% static 'js/custom/controls/user_input/mobile/touch_types.js' %}"></script>
<script src="{% static 'js/custom/controls/user_input/mobile/keyboard.js' %}"></script>
<script src="{% static 'js/custom/controls/user_input/mobile_inputs.js' %}"></script>
<script src="{% static 'js/custom/controls/user_input/input_manager.js' %}"></script>
<script src="{% static 'js/custom/controls/user_input/desktop_inputs.js' %}"></script>

<!-- 2D GUI Overlay -->
<script src="{% static 'js/custom/html_gui/paused_menu.js' %}"></script>
<script src="{% static 'js/custom/html_gui/dom_element.js' %}"></script>

<!-- Models. -->
<script src="{% static 'js/custom/models/inheritables/attachmentable.js' %}"></script>
<script src="{% static 'js/custom/models/inheritables/interactive.js' %}"></script>
<script src="{% static 'js/custom/models/inheritables/singleton.js' %}"></script>
<script src="{% static 'js/custom/models/inheritables/visibility.js' %}"></script>
<script src="{% static 'js/custom/models/inheritables/animatable.js' %}"></script>
<script src="{% static 'js/custom/models/inheritables/saveable.js' %}"></script>

<script src="{% static 'js/custom/models/discrete_models/keyboard/button_model.js' %}"></script>
<script src="{% static 'js/custom/models/discrete_models/keyboard/keyboard_model.js' %}"></script>

<script src="{% static 'js/custom/models/floating_elements/abstractions/button/button_state.js' %}"></script>

<script src="{% static 'js/custom/models/floating_elements/abstractions/text/syntax_rules/syntax_rule.js' %}"></script>
<script src="{% static 'js/custom/models/floating_elements/abstractions/text/syntax_rules/maximum_length.js' %}"></script>
<script src="{% static 'js/custom/models/floating_elements/abstractions/text/syntax_rules/minimum_length.js' %}"></script>
<script src="{% static 'js/custom/models/floating_elements/abstractions/text/syntax_rules/email.js' %}"></script>
<script src="{% static 'js/custom/models/floating_elements/abstractions/text/syntax_types/syntax_password.js' %}"></script>
<script src="{% static 'js/custom/models/floating_elements/abstractions/text/syntax_types/syntax_repeat_password.js' %}"></script>
<script src="{% static 'js/custom/models/floating_elements/abstractions/text/syntax_types/syntax_username.js' %}"></script>
<script src="{% static 'js/custom/models/floating_elements/abstractions/text/syntax_types/syntax_email.js' %}"></script>
<script src="{% static 'js/custom/models/floating_elements/abstractions/text/text_syntax.js' %}"></script>
<script src="{% static 'js/custom/models/floating_elements/abstractions/text/input_state.js' %}"></script>

<script src="{% static 'js/custom/models/floating_elements/abstractions/color_abstraction.js' %}"></script>
<script src="{% static 'js/custom/models/floating_elements/abstractions/text_abstraction.js' %}"></script>

<script src="{% static 'js/custom/models/floating_elements/base/2d_text/canvas_abstraction.js' %}"></script>
<script src="{% static 'js/custom/models/floating_elements/base/2d_text/canvas_font.js' %}"></script>
<script src="{% static 'js/custom/models/floating_elements/base/2d_text/canvas_texture.js' %}"></script>
<script src="{% static 'js/custom/models/floating_elements/base/text_2d.js' %}"></script>

<script src="{% static 'js/custom/models/floating_elements/base/floating_button.js' %}"></script>
<script src="{% static 'js/custom/models/floating_elements/base/floating_element.js' %}"></script>
<script src="{% static 'js/custom/models/floating_elements/base/floating_icon.js' %}"></script>
<script src="{% static 'js/custom/models/floating_elements/base/text_3d.js' %}"></script>

<script src="{% static 'js/custom/models/floating_elements/discrete_object_types/floating_checkbox.js' %}"></script>
<script src="{% static 'js/custom/models/floating_elements/discrete_object_types/floating_icon_button.js' %}"></script>
<script src="{% static 'js/custom/models/floating_elements/discrete_object_types/floating_input_2D.js' %}"></script>
<script src="{% static 'js/custom/models/floating_elements/discrete_object_types/floating_input_3D.js' %}"></script>
<script src="{% static 'js/custom/models/floating_elements/discrete_object_types/floating_slider.js' %}"></script>
<script src="{% static 'js/custom/models/floating_elements/discrete_object_types/floating_text_2D.js' %}"></script>
<script src="{% static 'js/custom/models/floating_elements/discrete_object_types/floating_text_3D.js' %}"></script>

<script src="{% static 'js/custom/models/floating_walls/floating_row.js' %}"></script>
<script src="{% static 'js/custom/models/floating_walls/floating_wall.js' %}"></script>
<script src="{% static 'js/custom/models/floating_walls/floating_picture.js' %}"></script>
<script src="{% static 'js/custom/models/floating_walls/floating_video.js' %}"></script>
<script src="{% static 'js/custom/models/floating_walls/date_selector.js' %}"></script>
<script src="{% static 'js/custom/models/floating_walls/time_selector.js' %}"></script>
<script src="{% static 'js/custom/models/floating_walls/schedule_gui/day_views/day_view_simple.js' %}"></script>
<script src="{% static 'js/custom/models/floating_walls/schedule_gui/day_views/day_view_full.js' %}"></script>
<script src="{% static 'js/custom/models/floating_walls/schedule_gui/viewable_entities.js' %}"></script>
<script src="{% static 'js/custom/models/floating_walls/schedule_gui/month_view.js' %}"></script>

<script src="{% static 'js/custom/models/floating_walls/discrete_floating_walls/confirmation_prompt.js' %}"></script>

<script src="{% static 'js/custom/models/entity_gui/entity_group.js' %}"></script>
<script src="{% static 'js/custom/models/entity_gui/entity_field_creator.js' %}"></script>
<script src="{% static 'js/custom/models/entity_gui/entity_type_selector.js' %}"></script>
<script src="{% static 'js/custom/models/entity_gui/entity_editor.js' %}"></script>
<script src="{% static 'js/custom/models/entity_gui/field_rows/entity_editor_field_row.js' %}"></script>
<script src="{% static 'js/custom/models/entity_gui/field_rows/field_row_completed.js' %}"></script>
<script src="{% static 'js/custom/models/entity_gui/field_rows/field_row_date_time.js' %}"></script>
<script src="{% static 'js/custom/models/entity_gui/field_rows/field_row_entity_type.js' %}"></script>
<script src="{% static 'js/custom/models/entity_gui/field_rows/field_row_name.js' %}"></script>
<script src="{% static 'js/custom/models/entity_gui/field_rows/field_row_regular.js' %}"></script>

<!-- Forms. -->
<script src="{% static 'js/custom/forms/form_manager.js' %}"></script>

<!-- Time Abstraction. -->
<script src="{% static 'js/custom/time_abstraction/identifiers/month_identifier.js' %}"></script>
<script src="{% static 'js/custom/time_abstraction/identifiers/year_identifier.js' %}"></script>
<script src="{% static 'js/custom/time_abstraction/month_instance.js' %}"></script>
<script src="{% static 'js/custom/time_abstraction/day_instance.js' %}"></script>
<script src="{% static 'js/custom/time_abstraction/time_constants.js' %}"></script>

<!-- The main player. -->
<script src="{% static 'js/custom/player/player.js' %}"></script>
<script src="{% static 'js/custom/player/player_state.js' %}"></script>

<!-- The worlds. -->
<script src="{% static 'js/custom/worlds/abstract/world_base.js' %}"></script>
<script src="{% static 'js/custom/worlds/abstract/world_input.js' %}"></script>
<script src="{% static 'js/custom/worlds/abstract/world_state.js' %}"></script>
<script src="{% static 'js/custom/worlds/abstract/world_dynamic_content.js' %}"></script>
<script src="{% static 'js/custom/worlds/static_worlds/login_world.js' %}"></script>
<script src="{% static 'js/custom/worlds/static_worlds/home_world.js' %}"></script>
<script src="{% static 'js/custom/worlds/static_worlds/settings_world.js' %}"></script>
<script src="{% static 'js/custom/worlds/static_worlds/admin_world.js' %}"></script>
<script src="{% static 'js/custom/worlds/dynamic_world.js' %}"></script>
<script src="{% static 'js/custom/worlds/dynamic_content_manager.js' %}"></script>
<script src="{% static 'js/custom/worlds/world_manager.js' %}"></script>
<script src="{% static 'js/custom/worlds/world_manager_input.js' %}"></script>

<script src="{% static 'js/custom/worlds/singleton/player_menu/animated_menu.js' %}"></script>
<script src="{% static 'js/custom/worlds/singleton/player_menu/player_menu.js' %}"></script>
<script src="{% static 'js/custom/worlds/singleton/player_menu/menu_actions.js' %}"></script>

<script src="{% static 'js/custom/worlds/singleton/player_cursor/player_cursor.js' %}"></script>

<!-- Quasar. -->
<script src="{% static 'js/custom/quasar/manager_manager.js' %}"></script>
<script src="{% static 'js/custom/quasar/quasar.js' %}"></script>

{% endblock %}

