<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/home/git_repos/quasar_source/quasar_site_django/static/css/custom/quasar.min.css">
</head>
<body>
<div id="data_display">
    <p id="x_coordinate"></p>
    <p id="y_coordinate"></p>
    <p id="z_coordinate"></p>
    <br>
    <p id="x_direction"></p>
    <p id="y_direction"></p>
    <p id="z_direction"></p>
</div>

<div id="background_coloring">
</div>

<!-- Typing Interface -->
<div id="gui_typing" style="display: none">
    <p class="gui_typing_offset smooth_font" id="gui_typing_input_field"></p>
</div>

<div class="container" id="video_container"></div>

<!-- TODO : Do this dynamically later on -->
<div class="smooth_font" id="gui_console_logs">
    <p id="row_0" class="gui_typing_offset smooth_font"></p><br>
    <p id="row_1" class="gui_typing_offset smooth_font"></p><br>
    <p id="row_2" class="gui_typing_offset smooth_font"></p><br>
    <p id="row_3" class="gui_typing_offset smooth_font"></p><br>
    <p id="row_4" class="gui_typing_offset smooth_font"></p><br>
    <p id="row_5" class="gui_typing_offset smooth_font"></p><br>
    <p id="row_6" class="gui_typing_offset smooth_font"></p><br>
    <p id="row_7" class="gui_typing_offset smooth_font"></p><br>
    <p id="row_8" class="gui_typing_offset smooth_font"></p><br>
    <p id="row_9" class="gui_typing_offset smooth_font"></p><br>
    <p id="row_10" class="gui_typing_offset smooth_font"></p><br>
    <p id="row_11" class="gui_typing_offset smooth_font"></p><br>
    <p id="row_12" class="gui_typing_offset smooth_font"></p><br>
    <p id="row_13" class="gui_typing_offset smooth_font"></p><br>
    <p id="row_14" class="gui_typing_offset smooth_font"></p><br>
    <p id="row_15" class="gui_typing_offset smooth_font"></p><br>
    <p id="row_16" class="gui_typing_offset smooth_font"></p><br>
    <p id="row_17" class="gui_typing_offset smooth_font"></p><br>
    <p id="row_18" class="gui_typing_offset smooth_font"></p><br>
    <p id="row_19" class="gui_typing_offset smooth_font"></p><br>
    <p id="row_20" class="gui_typing_offset smooth_font"></p><br>
    <p id="row_21" class="gui_typing_offset smooth_font"></p><br>
    <p id="row_22" class="gui_typing_offset smooth_font"></p><br>
    <p id="row_23" class="gui_typing_offset smooth_font"></p><br>
    <p id="row_24" class="gui_typing_offset smooth_font"></p><br>
    <p id="row_25" class="gui_typing_offset smooth_font"></p><br>
    <p id="row_26" class="gui_typing_offset smooth_font"></p><br>
    <p id="row_27" class="gui_typing_offset smooth_font"></p><br>
    <p id="row_28" class="gui_typing_offset smooth_font"></p><br>
    <p id="row_29" class="gui_typing_offset smooth_font"></p><br>
    <p id="row_30" class="gui_typing_offset smooth_font"></p><br>
    <p id="row_31" class="gui_typing_offset smooth_font"></p><br>
    <p id="row_32" class="gui_typing_offset smooth_font"></p><br>
    <p id="row_33" class="gui_typing_offset smooth_font"></p><br>
    <p id="row_34" class="gui_typing_offset smooth_font"></p><br>
    <p id="row_35" class="gui_typing_offset smooth_font"></p><br>
    <p id="row_36" class="gui_typing_offset smooth_font"></p><br>
    <p id="row_37" class="gui_typing_offset smooth_font"></p><br>
    <p id="row_38" class="gui_typing_offset smooth_font"></p><br>
    <p id="row_39" class="gui_typing_offset smooth_font"></p><br>
    <p id="row_40" class="gui_typing_offset smooth_font"></p><br>
    <p id="row_41" class="gui_typing_offset smooth_font"></p><br>
    <p id="row_42" class="gui_typing_offset smooth_font"></p><br>
    <p id="row_43" class="gui_typing_offset smooth_font"></p><br>
    <p id="row_44" class="gui_typing_offset smooth_font"></p><br>
    <p id="row_45" class="gui_typing_offset smooth_font"></p><br>
    <p id="row_46" class="gui_typing_offset smooth_font"></p><br>
    <p id="row_47" class="gui_typing_offset smooth_font"></p><br>
    <p id="row_48" class="gui_typing_offset smooth_font"></p><br>
    <p id="row_49" class="gui_typing_offset smooth_font"></p><br>
    <p id="row_50" class="gui_typing_offset smooth_font"></p><br>
    <p id="row_51" class="gui_typing_offset smooth_font"></p><br>
    <p id="row_52" class="gui_typing_offset smooth_font"></p><br>
    <p id="row_53" class="gui_typing_offset smooth_font"></p><br>
    <p id="row_54" class="gui_typing_offset smooth_font"></p><br>
    <p id="row_55" class="gui_typing_offset smooth_font"></p><br>
    <p id="row_56" class="gui_typing_offset smooth_font"></p><br>
    <p id="row_57" class="gui_typing_offset smooth_font"></p><br>
    <p id="row_58" class="gui_typing_offset smooth_font"></p><br>
    <p id="row_59" class="gui_typing_offset smooth_font"></p><br>
    <p id="row_60" class="gui_typing_offset smooth_font"></p><br>
    <p id="row_61" class="gui_typing_offset smooth_font"></p><br>
    <p id="row_62" class="gui_typing_offset smooth_font"></p><br>
    <p id="row_63" class="gui_typing_offset smooth_font"></p><br>
    <p id="row_64" class="gui_typing_offset smooth_font"></p><br>
    <p id="row_65" class="gui_typing_offset smooth_font"></p><br>
    <p id="row_66" class="gui_typing_offset smooth_font"></p><br>
    <p id="row_67" class="gui_typing_offset smooth_font"></p><br>
    <p id="row_68" class="gui_typing_offset smooth_font"></p><br>
    <p id="row_69" class="gui_typing_offset smooth_font"></p><br>
</div>

<!-- Pause Menu -->
<div id="pause_menu" class="center_position">
    <br>
    <h1 class="center_align" id="menu_title">Loading</h1>
    <h5 class="center_align" id="menu_header">initial javascript files...</h5>
</div>

<!-- 3rd party libraries. -->
<script src="/home/git_repos/quasar_source/quasar_site_django/static/js/third_party/three.min.js"></script>
<script src="/home/git_repos/quasar_source/quasar_site_django/static/js/third_party/stats.min.js"></script>
<script src="/home/git_repos/quasar_source/quasar_site_django/static/js/third_party/Detector.js"></script>
<script src="/home/git_repos/quasar_source/quasar_site_django/static/js/third_party/javascript_cookies/js.cookie.js"></script>
<script src="/home/git_repos/quasar_source/quasar_site_django/static/js/third_party/hex_grid/hex-grid.min.js"></script>
<script src="/home/git_repos/quasar_source/quasar_site_django/static/js/third_party/threex/THREEx.FullScreen.js"></script>
<script src="/home/git_repos/quasar_source/quasar_site_django/static/js/third_party/CSS3DRenderer.js"></script>
<script src="/home/git_repos/quasar_source/quasar_site_django/static/js/third_party/lines/THREE.MeshLine.js"></script>
<script src="/home/git_repos/quasar_source/quasar_site_django/static/js/third_party/dynamic_texture/threex.dynamictexture.js"></script>
<script src="/home/git_repos/quasar_source/quasar_site_django/static/js/third_party/dynamic_texture/threex.dynamictext2dobject.js"></script>

<!-- Shaders and Post Processors -->
<script src="/home/git_repos/quasar_source/quasar_site_django/static/js/third_party/graphics/shaders/CopyShader.js"></script>
<script src="/home/git_repos/quasar_source/quasar_site_django/static/js/third_party/graphics/shaders/FXAAShader.js"></script>
<script src="/home/git_repos/quasar_source/quasar_site_django/static/js/third_party/graphics/post_processing/EffectComposer.js"></script>
<script src="/home/git_repos/quasar_source/quasar_site_django/static/js/third_party/graphics/post_processing/RenderPass.js"></script>
<script src="/home/git_repos/quasar_source/quasar_site_django/static/js/third_party/graphics/post_processing/ShaderPass.js"></script>
<script src="/home/git_repos/quasar_source/quasar_site_django/static/js/third_party/graphics/post_processing/OutlinePass.js"></script>

<!-- Quasar. -->
<script src="/home/git_repos/quasar_source/quasar_site_django/static/js/custom/quasar/quasar_prod.min.js"></script>
</body>
</html>