{% extends 'templates/quasar_web_server/base.html' %}
{% block title %} Quasar Source {% endblock %}

{% load staticfiles %}
{% block additional_css_to_load %}{% endblock %}

{% block additional_head_statements %}{% endblock %}
{% block body %}
<div class="container">
    <br>
    {% block content %}{% endblock content %}
</div>
{% endblock %}

{% load staticfiles %}
{% block additional_js_to_load %}

<script src="{% static 'js/custom/web_sockets/websocket_testing.js' %}"></script>

{% endblock %}

