{% extends 'templates/quasar_web_server/base_templates/base.html' %}
{% block title %} Quasar Source {% endblock %}

{% load staticfiles %}
{% block additional_css_to_load %}{% endblock %}

{% block additional_head_statements %}{% endblock %}
{% block body %}
<div class="container">
    <br>
    {% block content %}{% endblock content %}
</div>
{% endblock %}

{% load staticfiles %}
{% block additional_js_to_load %}
<script src="//code.jquery.com/jquery-3.1.1.min.js"></script>


<script>
    var socket = new WebSocket('ws://' + window.location.host + '/users/');

    socket.onmessage = function(e) {
        console.log('Just got the message : ' + e)
    }

    socket.onopen = function open() {
      console.log('WebSockets connection created.');
      socket.send('Hello World!')
    };

    if (socket.readyState == WebSocket.OPEN) {
      socket.onopen();
    }
</script>

{% endblock %}

